useDynLib(rkriging, .registration=TRUE)

export(Get.Kernel)
export(Gaussian.Kernel)
export(RQ.Kernel)
export(Matern12.Kernel)
export(Matern32.Kernel)
export(Matern52.Kernel)
export(Matern.Kernel)
export(UDF.Kernel)
export(MultiplicativeRQ.Kernel)
export(MultiplicativeMatern.Kernel)
export(MultiplicativeUDF.Kernel)
export(Evaluate.Kernel)

export(Fit.Kriging)
export(Ordinary.Kriging)
export(Limit.Kriging)
export(Universal.Kriging)
export(Rational.Kriging)
export(Generalized.Rational.Kriging)
export(Predict.Kriging)
export(Get.Kriging.Parameters)

import(Rcpp)
import(nloptr)
importFrom(methods, new)
importFrom(stats, dist)
importFrom(stats, median)